@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thank you for registering. To complete the registration process, please check your email for a confirmation link.
</p>
