@inject EditService editService

<div>
    <NotesComponent />
    <hr>
    <CommentsComponent />
</div>


@code {

    [CascadingParameter(Name = "EditParam")]
    public bool Edit { get; set; } = false;
    [Parameter]
    public bool Editing { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();
        editService.OnEditButtonClick += RefreshChildComponents;
    }

    public void Dispose() {
        editService.OnEditButtonClick -= RefreshChildComponents;
    }

    private void RefreshChildComponents() {
        StateHasChanged();
    }
}