@inject EditService editService

<div>
    <NotesComponent />
    <hr>
    <CommentsComponent />
</div>


@code {

    //[CascadingParameter(Name = "CanEditParam")]
    //public bool CanEdit { get; set; } = false;
    //[CascadingParameter(Name = "EditingParameter")]
    //public bool Editing { get; set; }

    //protected override void OnInitialized() {
    //    base.OnInitialized();
    //    editService.OnEditButtonClick += RefreshChildComponents;
    //}

    //public void Dispose() {
    //    editService.OnEditButtonClick -= RefreshChildComponents;
    //}

    //private void RefreshChildComponents() {
    //    StateHasChanged();
    //}
}