.recipe-halves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.recipe-left-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

span.link:hover {
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.text-truncate-height {
    overflow: hidden;
    position: relative;
    line-height: 1.2em; /* Adjust this value based on your needs */
    max-height: 2.4em; /* Adjust this value based on your needs, it should be a multiple of the line-height */
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.text-truncate-height:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.text-truncate-height:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.index-recipe-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Adjust this value based on your desired length */
}
.image-container {
    width: auto;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.mud-image-cropped {
    width: 100%;
    height: auto;
}