@inject NavigationManager navigationManager
<AuthorizeView>
    <Authorized>
        <MudButton Class="mr-5" OnClick="NewRecipe">+New Recipe</MudButton>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="POST" action="/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/Account/Register">Register</a>
        <a href="/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void NewRecipe() {
        navigationManager.NavigateTo("/recipe");

    }
}


