@inject NavigationManager navigationManager
<AuthorizeView>
    <Authorized>
        <MudAvatar Color="Color.Warning" Class="clickable" @onclick="() => GoToProfile()">@context.User.Identity?.Name!.Substring(0, 1).ToUpper()</MudAvatar>
        <form method="POST" action="/Account/Logout">            
            <button type="submit" class="nav-link btn btn-link" style="color:black">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/Account/Register" style="margin-right: 5px;">Register</a>|
        <a href="/Account/Login" style="margin-left: 5px;">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter(Name = "UserParam")]
    protected AppUser User { get; set; }
    private void GoToProfile() {
        navigationManager.NavigateTo($"/profile/{User.Id}");
    }
    private void NewRecipe() {
        navigationManager.NavigateTo("/recipe");

    }
}


